<div class="bg-bgColor">
  <div class="container mx-auto px-12 py-6">
    <div class="grid grid-1 lg:grid-cols-4">
      <!-- -->
      <div class="flex flex-col">
        <img src="/imgs/logo.png" alt=" logo" class="w-1/4" />
        <div class="mt-6 text-base text-white">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at
        </div>
      </div>
      <!-- -->
      <div class="flex flex-col lg:mt-7">
        <span class="font-Raleway font-bold text-xl text-white">Services</span>
        <hr />
        <span class="text-white text-base font-medium my-1"
          >Web Design/Development</span
        >
        <span class="text-white text-base font-medium my-1"
          >App Development</span
        >
        <span class="text-white text-base font-medium my-1">UI/UX Design</span>
        <span class="text-white text-base font-medium my-1"
          >HubSpot Integration</span
        >
      </div>
      <!-- Links -->
      <div class="flex flex-col lg:mt-7">
        <span class="font-Raleway font-bold text-xl text-white">Links</span>
        <hr />
        <span class="text-white text-base font-medium my-1"
          >Web Design/Development</span
        >
        <span class="text-white text-base font-medium my-1"
          >App Development</span
        >
        <span class="text-white text-base font-medium my-1">UI/UX Design</span>
        <span class="text-white text-base font-medium my-1"
          >HubSpot Integration</span
        >
      </div>
      <!-- Career -->
      <div class="flex flex-col lg:mt-7">
        <span class="font-Raleway font-bold text-xl text-white">Career</span>
        <hr />
        <span class="text-white text-base font-medium my-1"
          >Web Design/Development</span
        >
        <span class="text-white text-base font-medium my-1"
          >App Development</span
        >
        <span class="text-white text-base font-medium my-1">UI/UX Design</span>
        <span class="text-white text-base font-medium my-1"
          >HubSpot Integration</span
        >
      </div>
    </div>
  </div>
</div>
